.main_div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #ffffff; */
    /* padding: 2rem; */
    /* height: 100vh;    */
    /* width: 50%; */
    width: 100%;
   
}
.div{
    background: #ffffff;
    padding: 4rem;
    border-radius: 1rem;
}
.li{
        background: #ffffff;
        list-style-type: none;
        padding: 2rem;
        margin-top: 1rem;
        width: 100%;
        line-height: 30px;
}
div button{
    margin: 1rem 0;
}
label{
    margin-bottom: 10px;
}

.seTime{    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}